body{
    padding: 0;
    margin: 0;
    background-color: rgb(231, 230, 230);
}
.contain{
    width: 600px;
    border-radius: 20px;
    padding: 0px 40px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.care{
    width: 400px;
    padding: 30px 20px;
    font-weight: bold;
    margin: 50px auto;
    border-radius: 20px;
    background-color: rgb(223, 213, 213);
}
h2{
    font-size: 20px;
    font-weight: bold;
    color: black;

}
input{
    border: 1px solid lightgray;
    border-radius: 18px;
    width: 350px;
    padding: 10px 20px;
    /* margin-bottom: 10px; */
    margin: 0px auto;
    font-size: 18px;
    font-weight: bold;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); */
}
input::placeholder{
    color: rgb(31, 28, 28);
    font-size: 14px;
    font-weight: bold;
}
.bom1{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    font-size: 16px;
}

.bom2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 50%;
    font-size: 16px;
}
.bom3{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 50%;
    font-size: 16px;
}
button{
    border: 1px solid lightgray;
    /* border-radius: 50%;
    font-size: 16px; */
    margin-top: 50 auto;
    border-radius: 500px;
    /* box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5); */
    padding: 20px;
    color: black;
    font-weight: 800;
}
.desc{
    color: black;
    font-size: 18px;
    margin: 10px auto;
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: 18px;
    color: black;
}
h4{
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    color: black;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}